*.log
*.pot
**/*.pyc
**/__pycache__/
db.sqlite3
media/
node_modules/
.next/
.env
*.tsbuildinfo
restaurants/management/commands/downloads/
*.png
!staticfiles/*.png
!**/static/*.png
!./khukiestructures.png
